{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-dark">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

<script>
let log_category = document.getElementById("log_category");
log_category.addEventListener("change", getItems);
let log_item = document.getElementById("log_item");

{% if "new" in route_name %}
  log_item.innerHTML = '';
  log_item.disabled = true;
{% endif %}

async function getItems() {
  try {
    const response = await fetch(
      `/items/findItemsByCategoryId/${log_category.value}`
    );

    const data = await response.json();

    let options = '';

    for (key in data) {
      options +=
      `<option value="${key}">${data[key].item_name}</option>`;
    }

    log_item.innerHTML = options;
    log_item.disabled = false;

  } catch(err) {
    throw new Error("The API is unavailable.");
  }  
}
</script>