{% extends 'base.html.twig' %}

{% block title %}New Budget{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('index') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path('budget_index') }}">Budget</a></li>
        <li class="breadcrumb-item active" aria-current="page">New</li>
      </ol>
    </nav>
    
    <h1>Create new Budget</h1>

    {{ include('budget/_form.html.twig') }}

    <a href="{{ path('budget_index') }}">back to list</a>
{% endblock %}
