{% extends 'base.html.twig' %}

{%dump(graph1_currentMonthCategoriesPlannedVsReal)%}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="row">
      <div class="col-sm-8">
        <h1>Dashboard</h1>
      </div>
      <div class="col-sm-4">
        <div class="app-inline-buttons">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <canvas id="chart1" style="width:100%;max-width:600px"></canvas>

        <h1>Members</h1>


        <script>
        var xValues = [
        {% for item in graph1_currentMonthCategoriesPlannedVsReal['labels'] %}
          "{{ item|e }}",
        {% endfor %}
        ]        

        new Chart("chart1", {
          type: "bar",
          data: {
            labels: xValues,
            datasets: [
                {
                    label: "Planned",
                    backgroundColor: "purple",
                    data: [
                    {% for item in graph1_currentMonthCategoriesPlannedVsReal['budget_total'] %}
                      "{{ item|e }}",
                    {% endfor %}
                    ] 
                },
                {
                    label: "Real",
                    backgroundColor: "blue",
                    data: [
                    {% for item in graph1_currentMonthCategoriesPlannedVsReal['log_total'] %}
                      "{{ item|e }}",
                    {% endfor %}
                    ] 
                }
            ]
          },
          options: {
            responsive: true,
            plugins: {
              datalabels: {
                color: '#FFF',
                anchor: 'start',
                align: 'top',
              }
            },
            legend: {
              position: 'bottom',
            },
            scales: {
              yAxes: [{
                ticks: {
                  min: 0,
                }
              }]
            },
            title: {
              display: true,
              text: "Current month - Categories - planned vs real"
            }
          }
        });
        </script>      
      </div> <!-- end col -->
      <div class="col-sm-6">
        <canvas id="chart2" style="width:100%;max-width:600px"></canvas>

        <script>
        var xValues = ["Food", "Transport", "Kids", "Health", "Housing","Tech", "Financial obligations", "Personal"];
        var yValues = [55, 49, 44, 24, 15, 34, 21, 12];
        var barColors = [
          "#b91d47",
          "#00aba9",
          "#2b5797",
          "#e8c3b9",
          "#1e7145",
          "tomato",
          "dodgerblue",
          "slateblue"
        ];

        new Chart("chart2", {
          type: "doughnut",
          data: {
            labels: xValues,
            datasets: [{
              backgroundColor: barColors,
              data: yValues
            }]
          },
          options: {
            tooltips: {
              callbacks: {
                label: function(tooltipItem, data) {
                  return data['labels'][tooltipItem['index']] + ': ' + data['datasets'][0]['data'][tooltipItem['index']] + '%';
                }
              }
            },
            plugins: {
              datalabels: {
                color: '#FFF',
                anchor: 'center',
                align: 'center',
                formatter: function(value, context) {
                  return value + '%';
                }                
              }
            },            
            title: {
              display: true,
              text: "Current month - Categories - costs %"
            }
          }
        });
        </script>      



        
      </div> <!-- end col -->
    </div> <!-- end row -->



    <div class="row">
      <div class="col-sm-12">
        <div id="dashboard-categories">
        <section>
          <canvas id="chart_cat_1" style="width:100%;max-width:600px"></canvas>

          <script>
          new Chart("chart_cat_1", {
            type: 'bar',
            data: {
                datasets: [{
                    label: 'Bar Dataset',
                    data: [40, 20, 30, 40],
                    // this dataset is drawn below
                    order: 2
                }, {
                    label: 'Line Dataset',
                    data: [35, 25, 45, 30],
                    type: 'line',
                    fill: false,
                    // this dataset is drawn on top
                    order: 1
                }],
                labels: ['January', 'February', 'March', 'April']
            },
            options:  {
              legend: {
                display: true,
                position: 'bottom',
              },
            }
          });
          </script>          
        </section> <!-- section 1 -->

        <section>
          <canvas id="chart_cat_2" style="width:100%;max-width:600px"></canvas>

          <script>
          new Chart("chart_cat_2", {
            type: 'bar',
            data: {
                datasets: [{
                    label: 'Bar Dataset',
                    data: [40, 20, 30, 40],
                    // this dataset is drawn below
                    order: 2
                }, {
                    label: 'Line Dataset',
                    data: [35, 25, 45, 30],
                    type: 'line',
                    fill: false,
                    // this dataset is drawn on top
                    order: 1
                }],
                labels: ['January', 'February', 'March', 'April']
            },
            options:  {
              legend: {
                display: true,
                position: 'bottom',
              },
            }
          });
          </script>          
        </section> <!-- section 2 -->



        <section>
          <canvas id="chart_cat_3" style="width:100%;max-width:600px"></canvas>

          <script>
          new Chart("chart_cat_3", {
            type: 'bar',
            data: {
                datasets: [{
                    label: 'Bar Dataset',
                    data: [40, 20, 30, 40],
                    // this dataset is drawn below
                    order: 2
                }, {
                    label: 'Line Dataset',
                    data: [35, 25, 45, 30],
                    type: 'line',
                    fill: false,
                    // this dataset is drawn on top
                    order: 1
                }],
                labels: ['January', 'February', 'March', 'April']
            },
            options:  {
              legend: {
                display: true,
                position: 'bottom',
              },
            }
          });
          </script>          
        </section> <!-- section 3 -->



        <section>
          <canvas id="chart_cat_4" style="width:100%;max-width:600px"></canvas>

          <script>
          new Chart("chart_cat_4", {
            type: 'bar',
            data: {
                datasets: [{
                    label: 'Bar Dataset',
                    data: [40, 20, 30, 40],
                    // this dataset is drawn below
                    order: 2
                }, {
                    label: 'Line Dataset',
                    data: [35, 25, 45, 30],
                    type: 'line',
                    fill: false,
                    // this dataset is drawn on top
                    order: 1
                }],
                labels: ['January', 'February', 'March', 'April']
            },
            options:  {
              legend: {
                display: true,
                position: 'bottom',
              },
            }
          });
          </script>          
        </section> <!-- section 4 -->


        <section>
          <canvas id="chart_cat_5" style="width:100%;max-width:600px"></canvas>

          <script>
          new Chart("chart_cat_5", {
            type: 'bar',
            data: {
                datasets: [{
                    label: 'Bar Dataset',
                    data: [40, 20, 30, 40],
                    // this dataset is drawn below
                    order: 2
                }, {
                    label: 'Line Dataset',
                    data: [35, 25, 45, 30],
                    type: 'line',
                    fill: false,
                    // this dataset is drawn on top
                    order: 1
                }],
                labels: ['January', 'February', 'March', 'April']
            },
            options:  {
              legend: {
                display: true,
                position: 'bottom',
              },
            }
          });
          </script>          
        </section> <!-- section 5 -->


        <section>
          <canvas id="chart_cat_6" style="width:100%;max-width:600px"></canvas>

          <script>
          new Chart("chart_cat_6", {
            type: 'bar',
            data: {
                datasets: [{
                    label: 'Bar Dataset',
                    data: [40, 20, 30, 40],
                    // this dataset is drawn below
                    order: 2
                }, {
                    label: 'Line Dataset',
                    data: [35, 25, 45, 30],
                    type: 'line',
                    fill: false,
                    // this dataset is drawn on top
                    order: 1
                }],
                labels: ['January', 'February', 'March', 'April']
            },
            options:  {
              legend: {
                display: true,
                position: 'bottom',
              },
            }
          });
          </script>          
        </section> <!-- section 6 -->




        </div> <!-- #dashboard-categories -->
      </div> <!-- end col -->
    </div> <!-- end row -->

    <div class="row">
      <div class="col-sm-6">
        <canvas id="chart3" style="width:100%;max-width:600px"></canvas>

        <script>
        new Chart("chart3", {
          type: 'bar',
          data: {
              datasets: [{
                  label: 'Bar Dataset',
                  data: [40, 20, 30, 40],
                  // this dataset is drawn below
                  order: 2
              }, {
                  label: 'Line Dataset',
                  data: [35, 25, 45, 30],
                  type: 'line',
                  fill: false,
                  // this dataset is drawn on top
                  order: 1
              }],
              labels: ['January', 'February', 'March', 'April']
          },
          options:  {
            legend: {display: true}
          }
        });
        </script>      
      </div> <!-- end col -->
      <div class="col-sm-6">
        <canvas id="chart4" style="width:100%;max-width:600px"></canvas>

        <script>
        var xValues = [100,200,300,400,500,600,700,800,900,1000];

        new Chart("chart4", {
          type: "line",
          data: {
            labels: xValues,
            datasets: [{ 
              data: [860,1140,1060,1060,1070,1110,1330,2210,7830,2478],
              borderColor: "red",
              fill: false
            }, { 
              data: [1600,1700,1700,1900,2000,2700,4000,5000,6000,7000],
              borderColor: "green",
              fill: false
            }, { 
              data: [300,700,2000,5000,6000,4000,2000,1000,200,100],
              borderColor: "blue",
              fill: false
            }]
          },
          options: {
            legend: {display: false}
          }
        });
        </script>      
      </div> <!-- end col -->
    </div> <!-- end row -->



    <div class="row">
      <div class="col-sm-12">
      </div> <!-- end col -->
    </div> <!-- end row -->

{% endblock %}
