{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('index') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path('user_index') }}">Users</a></li>
        <li class="breadcrumb-item active" aria-current="page">New</li>
      </ol>
    </nav>
    
    <h1>Create new User</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}">back to list</a>
{% endblock %}
